{% extends "base.html" %}
{% block body %}

<h1>{{result}}</h1>
<ul>
	<li>&rarr;<a style="font-weight: bold;" href="/play?choice=0&weapon=ROCK">ROCK</a></li>
	<li>&rarr;<a style="font-weight: bold;" href="/play?choice=1&weapon=PAPER">PAPER</a></li>
	<li>&rarr;<a style="font-weight: bold;" href="/play?choice=2&weapon=SCISSORS">SCISSORS</a></li>
	<li>&nbsp;<br /></li>
	<li>You chose: {{user}}</li>
	<li>ChongBot chose: {{computer}}</li>
	<li>-----</li>
	<li>Your total score: {{total}}</li>
	<li>Powerups left: {{powerups}}</li>
</ul>


<p>&nbsp;<br /></p>

<p><a href="/powerup">Buy 10 powerups!</a> &rarr;</p>
<p>&nbsp;</p>

<p><a href="/leaderboard">Check leaderboard</a> &rarr;</p>
<p>&nbsp;</p>


{% endblock %}