{% extends "base.html" %}
{% block body %}
<p><strong>Welcome back!</strong></p>
<p>The ChingTeam has been away to Asia for a month to learn about game design and bring you players an even better experience.</p>
<p>And to celebrate the new year we've decided to award our top player today <strong>R100</strong> airtime! <strong>Help us spread the word!</strong></p>
<p>The rest of the top 10 will receive a R10 airtime prize as well.</p>

{% if player.username == 'm10791516002' %}
	<p>You have won R100 airtime! Please add ChingTeam as a contact and we'll hook you up. Your secret number is PP100.</p>
{% elif player.username == 'm39058295002' %} <!-- Me -->
	<p><strong>You have won the New Year runner-up prize! Please add ChingTeam as a contact and we'll hook you up. Your secret number is PP99.</strong></p>
{% elif player.username == 'm29218960002' %} <!--The Hopeless / fortune apple-->
	<p><strong>You have won the New Year runner-up prize! Please add ChingTeam as a contact and we'll hook you up. Your secret number is PP99.</strong></p>
{% elif player.username == 'm1073300002' %} <!-- Shady -->
	<p><strong>You have won the New Year runner-up prize! Please add ChingTeam as a contact and we'll hook you up. Your secret number is PP99.</strong></p>
{% elif player.username == 'm34738511004' %} <!-- Dale -->
	<p><strong>You have won the New Year runner-up prize! Please add ChingTeam as a contact and we'll hook you up. Your secret number is PP99.</strong></p>
{% elif player.username == 'm16556775002' %} <!-- Lil Drake -->
	<p><strong>You have won the New Year runner-up prize! Please add ChingTeam as a contact and we'll hook you up. Your secret number is PP99.</strong></p>
{% elif player.username == 'm1073300002' %} <!-- Pakzo -->
	<p><strong>You have won the New Year runner-up prize! Please add ChingTeam as a contact and we'll hook you up. Your secret number is PP99.</strong></p>
{% elif player.username == 'm28822288002' %} <!-- Mr Romantic -->
	<p><strong>You have won the New Year runner-up prize! Please add ChingTeam as a contact and we'll hook you up. Your secret number is PP99.</strong></p>
{% elif player.username == 'm39033767002' %} <!-- AARON Fresh -->
	<p><strong>You have won the New Year runner-up prize! Please add ChingTeam as a contact and we'll hook you up. Your secret number is PP99.</strong></p>
{% elif player.username == 'm11284667002' %} <!-- WAWAWAWA MMG -->
	<p><strong>You have won the New Year runner-up prize! Please add ChingTeam as a contact and we'll hook you up. Your secret number is PP99.</strong></p>
{% elif player.username == 'm21248574002' %} <!-- Wanderkid -->
	<p><strong>You have won the New Year runner-up prize! Please add ChingTeam as a contact and we'll hook you up. Your secret number is PP99.</strong></p>
{% else %}
	<p>As you all know, scores have reset to 0. Go get 'em.</p>
{% endif %}
<h1>Info</h1>
<p><a href="/powerup">Powerups</a> give you an advantage, and help you gain points faster. Collect them <a href="/powerup"> here</a></p>

<p><a href="/play">Click here to start playing</a>&rarr;</p>
<p><a href="/leaderboard">Click here to see who is winning</a>&rarr;</p>
<!--<a href="/test">test</a>-->
{% endblock %}