{% extends "base.html" %}
{% block body %}

<h1>{{result}}</h1>
<ul>
	<li>&rarr;<a style="font-weight: bold;" href="/play?choice=rock">ROCK</a></li>
	<li>&rarr;<a style="font-weight: bold;" href="/play?choice=paper">PAPER</a></li>
	<li>&rarr;<a style="font-weight: bold;" href="/play?choice=scissors">SCISSORS</a></li>
	<li>&rarr;<a style="font-weight: bold;" href="/play?choice=lizard">LIZARD</a></li>
	<li>&rarr;<a style="font-weight: bold;" href="/play?choice=spock">SPOCK</a></li>
	<li>&nbsp;<br /></li>
	{% if user_weapon %}
		<li>You chose: {{user_weapon}}</li>
		<li>SpockMaster	 chose: {{computer_weapon}}</li>
		<li>-----</li>
	{% endif %}
	<li>Total score: {{total}}</li>
	{% if position %}
		<li>Rank: <b>{{position}}</b> out of <b>{{total_users}}</b></li>
	{% endif %}
	{% if games_played %}
		<li>Games played: {{games_played}}</li>
	{% endif %}
	{% if message %}
		<li>{{message}}</li>
	{% endif %}
</ul>


<p><a href="/leaderboard">Check leaderboard</a> &rarr;</p>
<p>&nbsp;</p>


{% endblock %}