{% extends "base.html" %}
{% block body %}

<h1>{{result}}</h1>
<ul>
	<li>&rarr;<a style="font-weight: bold;" href="/play?choice=rock">ROCK</a></li>
	<li>&rarr;<a style="font-weight: bold;" href="/play?choice=paper">PAPER</a></li>
	<li>&rarr;<a style="font-weight: bold;" href="/play?choice=scissors">SCISSORS</a></li>
	<li>&rarr;<a style="font-weight: bold;" href="/play?choice=lizard">LIZARD</a></li>
	<li>&rarr;<a style="font-weight: bold;" href="/play?choice=spock">SPOCK</a></li>
	<li>&nbsp;<br /></li>
	{% if user_weapon %}
		<li>You chose: {{user_weapon}}</li>
		<li>SpockMaster	 chose: {{computer_weapon}}</li>
		<li>-----</li>
	{% endif %}
	<li>Your total score: {{total}}</li>
	<li>Games played: {{games_played}}</li>
	{% if message %}
		<li>{{message}}</li>
	{% endif %}
</ul>


<p><a href="/leaderboard">Check leaderboard</a> &rarr;</p>
<p>&nbsp;</p>


{% endblock %}